<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- configSections MUST be first -->
	<configSections>
		<sectionGroup name="userSettings"
       type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GamelistManager.Properties.Settings"
      type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      allowExeDefinition="MachineToLocalUser"
      requirePermission="false" />
		</sectionGroup>
	</configSections>

	<!-- userSettings MUST come before appSettings -->
	<userSettings>
		<GamelistManager.Properties.Settings>
   <setting name="LastScraper" serializeAs="String">
    <value />
   </setting>
   <setting name="RecentFiles" serializeAs="String">
    <value />
   </setting>
   <setting name="BatoceraHostName" serializeAs="String">
    <value>batocera</value>
   </setting>
   <setting name="AlternatingRowColor" serializeAs="String">
    <value>LightGray</value>
   </setting>
   <setting name="ConfirmBulkChange" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SaveReminder" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MaxUndo" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="ShowCounts" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Region" serializeAs="String">
    <value>wor</value>
   </setting>
   <setting name="ArcadeDB_Checkboxes" serializeAs="String">
    <value />
   </setting>
   <setting name="ScreenScraper_Checkboxes" serializeAs="String">
    <value />
   </setting>
   <setting name="EmuMovies_Checkboxes" serializeAs="String">
    <value />
   </setting>
   <setting name="MediaSources" serializeAs="String">
    <value />
   </setting>
   <setting name="GridFontSize" serializeAs="String">
    <value>12</value>
   </setting>
   <setting name="VerifyDownloadedImages" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ScrapeEnglishGenreOnly" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GridLineVisibility" serializeAs="String">
    <value>Horizontal</value>
   </setting>
   <setting name="Language" serializeAs="String">
    <value>en</value>
   </setting>
   <setting name="ShowFileStatusBar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="VideoAutoplay" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Volume" serializeAs="String">
    <value>75</value>
   </setting>
   <setting name="SearchDepth" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="MamePath" serializeAs="String">
    <value />
   </setting>
   <setting name="RememberColumns" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RememberAutoSize" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoSizeColumns" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SuspendSortingInEditMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ScrapeAnyMedia" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoExpandLogger" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Theme" serializeAs="String">
    <value>Default</value>
   </setting>
   <setting name="MediaPaths" serializeAs="String">
    <value>{"image":"images","titleshot":"images","marquee":"images","wheel":"images","thumbnail":"images","cartridge":"images","video":"videos","music":"music","map":"images","bezel":"images","manual":"manuals","fanart":"images","boxart":"images","boxback":"images","magazine":"images","mix":"images"}</value>
   </setting>
   <setting name="VisibleGridColumns" serializeAs="String">
    <value>{"Description": true, "Developer": false, "Favorite": false, "Game Time": false, "Language": false, "Last Played": false, "Play Count": false, "Publisher": false, "Region": false, "Genre": true, "Rating": true, "Players": true, "Release Date": true}</value>
   </setting>
   <setting name="DefaultColumns" serializeAs="String">
    <value>{"Description": true, "Developer": false, "Favorite": false, "Game Time": false, "Language": false, "Last Played": false, "Play Count": false, "Publisher": false, "Region": false, "Genre": true, "Rating": true, "Players": true, "Release Date": true}</value>
   </setting>
   <setting name="Region_Fallback" serializeAs="String">
    <value>["USA (us)","ScreenScraper (ss)","Europe (eu)","United Kingdom (uk)","World (wor)"]</value>
   </setting>
   <setting name="Version" serializeAs="String">
    <value />
   </setting>
   <setting name="RecentFilesCount" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="UseRibbonMenu" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoHideRibbon" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AlwaysOnTop" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnableDelete" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IgnoreDuplicates" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BatchProcessing" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BatchProcessingMaximum" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="LogVerbosity" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="Scaling" serializeAs="String">
    <value>True</value>
   </setting>
  </GamelistManager.Properties.Settings>
	</userSettings>

	<!-- appSettings MUST come last -->
	<appSettings>
		<add key="EmuMovies_bearerToken" value=""  />
		<add key="ScreenScraper_DevId" value=""/>
		<add key="ScreenScraper_DevPassword" value=""/>
	</appSettings>

</configuration>
